
header {
  text-align: center;
}

#featured-property figure {
  text-align: center;
}

#featured-property figcaption {
  text-align: center;
  font-size: 14px;
}

#featured-property p {
  width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}

header nav {
  text-align: center;
}

header nav a {
  padding: 10px;
  background-color: grey;
  text-decoration: none;
  color: white;
  margin: 0 5px;
}

#details div {
  float: left;
  width: 25%;
  text-align: center;
  background-color: orange
  }
}